<h1>Notes</h1>
<hr />

<% @notes.each_with_index do |note, i| %>
  <h1><%= i+1 %></h1>
  <form method='post' action='create'>
    <textarea style='width:500px;height:400px;' name='note[body]'><%= note.body %></textarea>
    <input type='hidden' value='<%= i + 1 %>' name='note[id]'/>
    <br />
    <br />
    <input type='submit' value='Begin'/>
  </form>
  <hr/>
<% end %>
